// Colors 

$main-color: #353541;
$light-red: #f5626e;
$white: #fff;
$border-color: #242431;
$info-title-color: #3e3e3e;
$white-gray: #e5e5e5;
$grey-50: #a3a3a3;
$color-text: #cecece; 

// Sprite positions

$bg-positions: (
    home: -5px -5px,
    email: -47px -5px,
    phone: -5px -47px
);

$social-bg: (
    twitter: -32px -32px,
    skype: -32px -5px,
    space: -5px -5px
);