.intro {
    padding: 20px 0 170px;

    header {
        background: #313030;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 107px;

        .nav {
            display: flex;
            align-items: center;
    
            .nav-item {
                a {
                    display: block;
                    color: #e0e0e0;
                    text-decoration: none;
                    padding: 30px 25px;
                    text-transform: uppercase;
                    font-size: 12px;
                    font-weight: 700;
                    transition: .25s;
    
                    &:hover {
                        background: $main-color;
                    }
                }
            }
        }
    }

    .main-title {
        text-transform: uppercase;
        color: $title-color;
        font-weight: 700;
        line-height: 56px;
        font-size: 48px;
        letter-spacing: 2px;
        margin-bottom: 16px;

        @media screen and (max-width: 992px) {
            font-size: 32px;
            line-height: 42px;
        }
    }

    .--contact-us {
        background: $main-color;
        color: #fff;
        border: 0;
    }

    .video {
        padding: 175px;
        background: #c4c0b1;
        box-shadow: 0 0 64px 0 #9c9c9c;
        cursor: pointer;

        &::before {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 0;
	        height: 0;
	        border-top: 15px solid transparent;
	        border-left: 25px solid #fff;
	        border-bottom: 15px solid transparent;
        }

        &::after {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            left: calc(50% - 4px);
            transform: translate(-50%, -50%);
            border: 6px solid #fff;
            width: 64px;
            height: 64px;
            border-radius: 50%;
        }
    }
}