// Variables

$text-color: #707070;
$title-color: #000;
$subtitle-color: #333333;
$main-color: #ff3f40;

$icon-sizes: (
    settings: (40px, 40px),
    pencil: (39px, 37px),
    diamond: (40px, 33px),
    truck: (44px, 33px)
);