* {
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0; }

section {
  display: block;
  width: 100%;
  height: 100vh; }
  section.bg-1 {
    background: linear-gradient(to left, #e55d87, #5fc3e4); }
  section.bg-2 {
    background: linear-gradient(to left, #003973, #e5e5be); }
  section.bg-3 {
    background: linear-gradient(to left, #3ca55c, #b5ac49); }
  section.bg-4 {
    background: linear-gradient(to left, #348f50, #56b4d3); }
  section.bg-5 {
    background: linear-gradient(to left, #d31027, #ea384d); }
  section.bg-6 {
    background: linear-gradient(to left, #603813, #b29f94); }

.controls {
  padding: 0;
  margin: 0;
  list-style: none;
  position: fixed;
  top: 50%;
  right: 42px;
  transform: translateY(-50%); }
  .controls li {
    font-size: 0;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    margin-bottom: 8px;
    background: #cfcfcf;
    transition: 0.3s;
    margin: 0 auto 8px; }
    .controls li.active {
      margin-bottom: 12px;
      height: 12px;
      width: 12px; }
